html,
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.headerLinks{
    margin: 5px;
    color: black;
}
#navBar{
    background-color:lightgrey;
    height: 90px;
}
